.buyer-filter{
    height: 100%;
    width: 280px;
    float: left;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
}

.buyer-filter-header{
    height: 100px;
    width: 100%;
}

.buyer-filter-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.buyer-filter-cnt .input-cnt{
    width: 100%;
}

.buyer-filter-cnt .input-cnt select{
    width: 100%;
    border-radius: 5px;
}
