@media screen  and (min-width: 280px) and (max-width: 480px) {
    *{
        box-sizing: border-box;
    }

    html,body{
        height: 100%;
        width: 100%;
        background-color: #fff;
    }
    
    .seller-header{
        height: 60px;
        width: 100%;
        float: right;
        position: relative;
        padding: 5px;
        display: flex;
        align-items: center;
        padding: 20px;
        color: orangered;
        background-color: #fff;
    }

    .seller-aside{
        height: calc(100vh - 0px);
        width: 150px;
        float: left;
        position: absolute;
        left: -100%;
        font-weight: 500;
        z-index: 1000;
        transition: 1s;
        padding: 10px;
        background-color: orangered;
    }

    #seller-aside{
        left: 0;
        transition: 1s;
        z-index: 1000;
    }

    .seller-aside-logo{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: large;
        font-weight: 1000;
        color: orangered;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #fff;
    }

    .seller-aside .seller-aside-nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .seller-aside .seller-aside-nav ul li{
        padding: 15px;
        font-weight: 500;
        color: #fff;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: left;
    }


    .seller-aside .seller-aside-nav-others ul{
        list-style-type: none;
        position: absolute;
        bottom: 20px;
        padding: 0;
        margin: 0;
    }

    .seller-aside .seller-aside-nav-others ul li{
        padding: 15px;
        font-weight: 500;
        color: #fff;
        text-align: left;
        cursor: pointer;
        font-size: small;
    }


    
    .seller-home{
        height: calc(100vh - 100px);
        width: 100%;
        margin: auto;
        overflow: auto;
        padding: 10px;
        background-color: #fff;
    }

    .seller-home-overview{
        height: fit-content;
        width: 100%;
        background-color: #fff;
    }

    .seller-home-overview ul{
        list-style-type: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: space-between;
    }

    .seller-home-overview ul li{
        height: fit-content;
        width: 25%;
        flex-shrink: 0;
        text-align: center;
        cursor: pointer;
        color: orangered;
        padding: 5px;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #fff;
    }

    .seller-home-overview ul li button{
        border: none;
        outline: none;
        color: orangered;
        padding: 10px;
        margin: 0;
        border-radius: 10px;
        background-color: #fff4e0;
    }

    .seller-home-overview ul li div h5{
        font-size: x-small;
    }

    .seller-home-overview ul li a{
        color: orangered;
        text-decoration: none;
    }

    .seller-home-list{
        height: calc(100% - 20px);
        border-radius: 10px;
        width:100%;
        margin-top: 20px;
        overflow: auto;
        padding: 0;
        justify-content: center;
        background-color: #fff4e0;
    }

    .seller-home-list ul{
        list-style-type: none;
        height: 50%;
        width: 100%;
        margin: 0;
        display: block;
        padding: 5px;
        margin: 0;
    }

    .seller-home-list ul li{
        height: 120px;
        width: 100%;
        border-radius: 5px;
        text-align: left;
        cursor: pointer;
        background-color: #fff;
        color: orangered;
        padding: 15px;
        margin-bottom: 5px;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }

    .seller-shop-header{
        height: 90px;
        width: 100%;
        margin: auto;
        z-index: 1000;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;
        
    }

    .seller-shop{
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 5px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .seller-shop .seller-shop-form-body{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

  
    .seller-shop-samples{
        border-radius: .8px;
        width: 100%;
        padding: 5px;
        display: flex;
        height: 100px;
        text-align: left;
        background-color: #f9f9f9;
    }

    .seller-shop-samples label{
        width: 100px;
        font-size: small;
        height: 100%;
        margin: 0px 5px;
        background: rgb(255, 255, 255);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    .seller-product-image-cnt{
        width: calc(100% - 100px);
        padding: 5px;
        height: 100%;
        position: relative;
        float: left;
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        overflow: auto;
        text-align: left;
        background-color: #f9f9f9;
    }


    .seller-shop-description{
        height: 100%;
        width: 100%;
        padding: 10px;
        position: relative;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seller-shop-form{
        height: 100%;
        width: 100%;
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .seller-item-preview-cnt{
        height: 250px;
        width: 100%;
        display: none;
        background-color: azure;
    }

    .seller-shop-form-cnt{
        height: 100%;
        width: 100%;
        float: right;
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }


    .seller-shop-form-group-1, .seller-shop-form-group-2{
        width: 100%;
        height: 100%;
    }

    .seller-shop-desc{
        width: 100%;
        border: none;
        outline: none;
        margin: auto;
        resize: none;
        background-color: #f9f9f9;
        font-size: medium;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        height: 200px;
        margin-top: 20px;
    }

    .seller-shop-title{
        width: 100%;
        border: none;
        outline: none;
        margin: auto;
        resize: none;
        background-color: #f9f9f9;
        font-size: medium;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        height: 80px;
        font-size: large;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .input-cnt{
        height: fit-content;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .input-cnt label{
        font-size: small;
        color: orangered;
    }

    .input-cnt input{
        height: 50px;
        width: 100%;
        
        outline: none;
        border: none;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 2.5px;
    }

    .input-cnt select{
        height: 50px;
        width: 100%;
        outline: none;
        border: none;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 2.5px;
    }

    .seller-Ads-deal{
        height: 350px;
        width: 100%;
      
        display: flex;
        margin-top: 20px;
        align-items: center;
        overflow-x: auto;
        border-radius: 15px;
        overflow-y: hidden;
        background-color: #f9f9f9;
        justify-content: flex-start;
        padding: 10px;
    }

    .seller-upload-btn{
        height: 100%;
        width: 100%;
        display: block;
        
        overflow-x: auto;
        overflow-y: hidden;
        outline: none;
        
        border: none;
        
        color: #fff;
    }







    .seller-libs{
        height: calc(100vh - 100px);
        width: 100%;
        margin: auto;
        overflow: auto;
        padding: 5px;
        background-color: #fff;
        
    }
    .seller-libs-card{
        height: 120px;
        padding: 0 0px 0 0px ;
        margin-bottom: 5px;
        width: 100%;
        padding: 10px;
        display: inline-block;
    }
    .seller-libs-body{
        height: 100%;
        width: calc(100% - 130px);
        margin: auto;
        float: right;
        cursor: pointer;
        position: relative;
        text-align: left;
        padding: 10px 10px 10px 10px;
        background-color: #fff;
        
    }
    .seller-libs-card img{
        height: 100%;
        width: 120px;
        float: left;
    }
    .seller-libs-body img{
        height: 17px;
        width: 17px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .seller-item-title{
        height: 40px;
        width: 100%;
        font-size: small;
        text-align: left;
        font-weight: bold;
    }
    .seller-item-price{
        width: 100%;
        text-align: left;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: small;
        font-weight: 500;
    }
    .seller-item-spec{
        position: absolute;
        height: 40px;
        font-weight: 500;
        width: 25%;
        left: 5px;
        border-radius: 5px;
        bottom: 2.5px;
    }
    .seller-item-spec ul{
        list-style-type: none;
        margin: 0 0 0 0;
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        padding: 2.5px;
    }
    .seller-item-spec ul li{
        font-size: xx-small;
        font-weight: 500;
        text-align: center;
        color: orangered;
        margin: 2.5px 2.5px 2.5px 2.5px;
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
    }
    .seller-items-date{
        position: absolute;
        height: fit-content;
        font-weight: 400;
        font-size: x-small;
        right: 2.5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 5px;
        bottom: 1.5px;
    }

    .seller-order-cnt{
        height: calc(100vh - 100px);
        width: 100%;
        margin: auto;
        overflow: auto;
        padding: 10px;
        background-color: #fff;
    }
    .seller-order-card{
        height: 80px;
        width: 100%;
        padding: 5px;
    }
    .seller-order-card img{
        height: 100%;
        width: 70px;
        float: left;

    }
    .seller-order-body{
        height: 100%;
        position: relative;
        width: calc(100% - 70px);
        text-align: left;
        float: right;
        padding: 0 20px 20px 20px;
        background-color: #fff;
    }
    .seller-order-body img{
        height: 12px;
        width: 12px;
        position: absolute;
        top: 2.5px;
        right: 2.5px;
    }
    .seller-order-title{
        height: 20px;
        width: 100%;
        font-size: x-small;
        text-align: left;
        font-weight: bold;
    }
    .seller-order-id{
        width: 100%;
        text-align: left;
        white-space: nowrap;
        display: flex;
        height: 40px;
        align-items: flex-end;
        font-size: x-small;
        font-weight: 400;
    }
    .seller-order-status{
        text-align: left;
        white-space: nowrap;
        display: flex;
        border-radius: 5px;
        padding: 2.5px;
        width: fit-content;
        background-color: orangered;
        color: #fff;
        align-items: flex-end;
        font-size: x-small;
        font-weight: 500;
        margin-top: -10px;
    }
    .seller-order-date{
        position: absolute;
        height: fit-content;
        font-weight: 500;
        right: 5px;
        font-size: small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 5px;
        bottom: .5px;
    }

    .seller-messages{
        height: calc(100vh - 100px);
        width: 100%;
        margin: auto;
        overflow: auto;
        padding: 10px;
        background-color: #fff;
    }
    .seller-client-list{
        width: 100%;
        height: 100%;
        float: left;
        padding: 5px;
        overflow: auto;
    }
    .seller-client-list section{
        height: 80px;
        width: 100%;
        cursor: pointer;
        padding: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .seller-client-list section img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        float: left;
        position: absolute;
        left: 8px;
    }
    .seller-client-list section .seller-client-list-chat-log{
        width: calc(100% - 55px);
        height: 100%;
        position: absolute;
        right: 0;
        font-size: small;
    }
    .seller-chat-room{
        width: 100%;
        display: none;
        height: 100%;
        background-color: #f9f9f9;
        float: right;
        padding: 5px;
    }
    .seller-chat-box{
        height: calc(100% - 140px);
        width: 100%;
        padding: 10px;
        overflow: auto;
        background-color: transparent;
    }
    .seller-chat-header{
        height: 80px;
        width: 100%;
        background-color: #fff;
    }
    .seller-chat-tools{
        height: 60px;
        width: 100%;
        padding: 5px;
        text-align: left;
    }
    .seller-chat-cnt{
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 0 10px 0;
    }
    .seller-chat-cnt section{
        position: relative;
        max-width: 60%;
        height: auto;
       
    }
    #sellerChat{
        padding: 10px;
        background-color: rgb(255, 127, 80);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        text-align: left;
        color: #fff;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 8px;
    }
    #sellerChatMate{
        padding: 10px;
        text-align: left;
        background-color: rgb(255, 255, 255);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }

    .seller-settings{
        height: calc(100vh - 100px);
        width: calc(100% - 0);
        margin: auto;
        overflow: auto;
        padding: 10px;
        position: relative;
        background-color: #fff;
    }
    .seller-settings section{
        height: 100px;
        width: 100%;
        margin: 10px 0 10px 0;
        cursor: pointer;
        padding: 15px;
        position: relative;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: left;
    }
    section img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        float: left;
        position: absolute;
        left: 13px;
    }
    .seller-list-settings-log{
        width: calc(100% - 15px);
        height: 100%;
        position: absolute;
        right: 0;
        font-size: medium;
    }

    .seller-wallet{
        height: calc(100vh - 100px);
        width: 100%;
        margin: auto;
        overflow: auto;
        padding: 20px;
        background-color: #fff;
    }
    .seller-wallet-list{
        width: 40%;
        height: 100%;
        float: left;
        padding: 5px;
        overflow: auto;
    }
    .seller-wallet-list section{
        height: 80px;
        width: 100%;
        cursor: pointer;
        padding: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        float: left;
        position: absolute;
        left: 8px;
    }
    .seller-settings-list section .seller-list-wallet-log{
        width: calc(100% - 45px);
        height: 100%;
        position: absolute;
        right: 0;
        font-size: small;
    }


    .seller-profile-cnt{
        height: calc(100vh - 150px);
        width: 100%;
        margin: auto;
        overflow: auto;
        padding: 2px;
        position: relative;
        display: block;
        background-color: #f9f9f9;
    }

    .seller-profile-left{
        float: left;
        width: 100%;
        padding: 0;
        height: fit-content;
        background-color: #fff;
    }

    .seller-profile-right{
        padding: 0;
        float: right;
        width: 100%;
        height: fit-content;
        background-color: #fff;

    }

    .seller-profile-top{
        background-color: #fff;
        height: fit-content;
        position: relative;
        padding: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        margin: 2.5px auto 2.5px auto;
        flex-shrink: 0;
        width: 100%;
    }

    .seller-profile-top ul{
        padding: 0;
        margin: 10px 0 0 0;
        width: 100%;
        list-style-type: none;
    }

    .seller-profile-top ul li{
        padding: 15px 10px 15px 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-weight: 500;
        margin: auto;
    }



    .seller-profile-body{
        background-color: #fff;
        height: fit-content;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        position: relative;
        margin: 2.5px auto 2.5px auto;
        flex-shrink: 0;
        width: 100%;
    }

    .seller-profile-body ul{
        padding: 0;
        margin: 10px 0 0 0;
        width: 100%;
        
        list-style-type: none;
    }

    .seller-profile-body ul li{
        padding: 15px 10px 15px 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-weight: 500;
        margin: auto;
    }

    .seller-profile-footer{
        background-color: #fff;
        height: fit-content;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        margin: 2.5px auto 2.5px auto;
        flex-shrink: 0;
        width: 100%;
    }

    .seller-profile-footer ul{
        padding: 0;
        margin: 10px 0 0 0;
        width: 100%;
        display: flex;
        list-style-type: none;
    }

    .seller-profile-footer ul li{
        padding: 10px 5px 10px 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        font-weight: 500;
        margin: auto;
        display: flex;
    }


    .seller-profile-description, .seller-profile-portfolio, .seller-profile-reviews, .seller-profile-history{
        height: fit-content;
        width: 100%;
        padding: 20px;
        margin: 2.5px 0 2.5px 0;
        font-size: small;
        font-weight: lighter;
        text-align: left;
        justify-content: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }  

    .seller-profile-history{
        padding: 20px;
        min-height: 350px;
        width: 100%;
        max-height:1200px;
        overflow: auto;
    }

    .seller-profile-reviews{
        display: block;
        height: fit-content;
        width: 100%;

        padding: 20px;

    }

    .seller-review-box{
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 5px;
    }

    .seller-review-cnt{
        height: 250px;
        margin: 0 5px 0 5px;
        width: 250px;
        flex-shrink: 0;
        border-radius: 5px;
        background-color: orange;
    }



    .seller-items-date{
        position: absolute;
        height: fit-content;
        font-weight: 600;
        right: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 5px;
        bottom: 15px;
    }
    .seller-inbox-cnt{
        height: calc(100vh - 100px);
        width: calc(100% - 0px);
        margin: auto;
        overflow: auto;
        padding: 10px;
        background-color: #fff;
        
    }
    .seller-inbox-cnt ul{
        padding: 0;
        margin: 0;
    }

    .seller-inbox-card{
        height: fit-content;
        padding: 0 0px 0 0px ;
        margin-bottom: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .seller-inbox-card .top{
        display: block;
    }
    .seller-inbox-card .top .seller-inbox-date{
        display: block;
        text-align: left;
    }
    .seller-inbox-card .top .seller-inbox-status{
        display: block;
        text-align: left;
    }
    .seller-inbox-card .top .seller-inbox-message{
        display: block;
        text-align: left;
    }
    .seller-inbox-card .btm{
        display: block;
        height: 100px;
        border: 1px solid orangered;
    }
    .btm{
        height: 120px;
        width: fit-content;
        border-radius: 5px;
        position: relative;
        padding: 10px;
    }
    .btm img{
        width: 80px;
        height: 80px;
        border-radius: 5px;
        float: left;
        left: 0;
        bottom: 0;
        margin: 0;
        position: relative;
    }
    .seller-inbox-product-card-body{
        float: right;
        width: calc(100% - 120px);
        height: 100%;
        font-size: small;

        text-align: left;
    }

}



/* width */
::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dbdbdb;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orangered;
  }
