.aside-overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    transition: 2s;
    z-index: 1000;
    
}

#aside-overlay{
    display: flex;
    transition: 2s;

}

.aside-cnt{
    height: 100%;
    width: 300px;
    padding: 10px;
    overflow: auto;
    text-align: left;
    background-color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.aside-close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    cursor: pointer;
}

.aside-cnt ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: left;

}

.aside-cnt ul li{
    height: 30px;
    flex-shrink: 0;
    width: 100%;
    text-align: left;
    display: 'flex';
    padding: 0 8px 0 8px;
    align-items: center;
    margin: 5px;
}

#aside-list-active{
    background-color: rgb(255, 68, 0);
    background-color: rgb(255, 68, 0, .1);
    /* border-bottom: 1px solid orangered; */
    cursor: pointer;
}

.aside-cnt ul li:hover{
    background-color: rgb(255, 68, 0);
    background-color: rgb(255, 68, 0, .1);
    /* border-bottom: 1px solid orangered; */
    cursor: pointer;
}