
.buy_now_overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;

}

#buy_now_overlay{
    display: flex;
}

.buy_now_cnt{
    height: fit-content;
    width: 250px;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    background-color: #fff;
}

.btn-cnt{
    height: fit-content;
    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.btn-cnt button{
    height: 40px;
    width: 40px;
}