
@media screen and (min-width: 1200px){
    .box-cnt{
        height: 150px;
        width: 45%;
        border-bottom: 2px solid orangered;
        /*border: 1px solid orange;*/
        background: #fff;
        padding: 20px;
        position: relative;
        display: flex;
        flex-shrink: 0;
        margin: 0 5px 0 5px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-item: space-between;
    }
    
}

/* @media screen and (ma-width: 1200px){ */
    .box-cnt{
        height: 150px;
        width: 45%;
        border-bottom: 2px solid orangered;
        /*border: 1px solid orange;*/
        background: #fff;
        padding: 20px;
        position: relative;
        display: flex;
        flex-shrink: 0;
        margin: 0 5px 0 5px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-item: space-between;
    }
    
/* } */

@media screen and (max-width: 480px){
    .box-cnt{
        height: 150px;
        width: 100%;
        border-bottom: 2px solid orangered;
        /*border: 1px solid orange;*/
        background: #fff;
        padding: 20px;
        position: relative;
        display: flex;
        flex-shrink: 0;
        margin: 0 5px 5px 5px;
        /* margin-bottom: 5px; */
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        /* align-item: space-between; */
    }
    
}





.text{
    text-transform: capitalize;
}

.counter{
    height: 80px;
    /*color: orangered;*/
    width: 100%;
    font-weight: bold;
    font-size: x-large;
}

.link{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: orangered;
    color: #fff;
    font-size: x-small;
    padding: 5px;
    border-radius: 2.5px;
}
