.buyer-search-result{
    height: 400px;
    width: 400px;
    background-color: #fff;
    position: fixed;

}

.buyer-search-overlay{
    height: calc(100vh - 70px);
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    display: none;
    left: 0;
    /* background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .5); */
}

#buyer-search-overlay{
    display: flex;
}


.buyer-search-result ul{
    width: 100%;
    background-color: #fff;
}


.buyer-search-result ul li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    border-left: 1px solid #fff;
    background-color: #fff;
}


@media screen  and (max-width: 759px) {
    .search-cnt{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20000;
        width: 100vw;
        background-color: #fff;

    }

    .input-cnt{
        height: 50px;
        width: 100%;
        position: relative;
        background-color: #fff;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        /* border-bottom: 1px solid orangered; */
    }

    .input-cnt input{
        height: 100%;
        width: calc(100% - 150px);
    }


    .input-cnt div{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 50px;
        font-size: small;
    }

    .search-content{
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 5px;
    }

    .search-content div{
        height: 50px;
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        font-size: small;
        font-weight: 500;
        margin-bottom: 5px;
        background-color: #fff;
    }

}
